@model IPagedList<WebApplication1.Models.Tourism>
@using PagedList;
@using PagedList.Mvc;
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Index";
}

<h2>Tourism</h2>
<h3>@TempData["Message"]</h3>

<div class="row util">
    <div class="col-sm">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
    </div>
    <div class="col-sm">
        @Html.ActionLink("Delete", "Delete", new { ids = "{0}" }, new { @class = "btn btn-danger" })
    </div>

</div>
<table id="table"
       data-toggle="table"
       data-height="460"
       data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th>
                @Html.DisplayNameFor(model => model.First().AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TourGuide)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr id="@item.Id">
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionName)
            </td>
            <td>
                <img src="@item.ImagePath" alt="Image" width="100" height="50" />
            </td>
            <td>
                @Regex.Replace(@Regex.Replace(item.Description, @"<[^>]+>|&nbsp;", String.Empty).Trim(), @"\s{2,}", String.Empty).Substring(0, @Convert.ToInt32(@Regex.Replace(item.Description, @"<[^>]+>|&nbsp;", String.Empty).Trim().Length / 2)) .....
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourGuide)
            </td>
            <td>
                <div class="col">
                    <div class="row-sm">
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    </div>
                    @if (User.Identity.Name == item.Creator || User.IsInRole("Admin") || User.IsInRole("Coadmin"))
                    {
                        <div class="row-sm">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn edit btn-primary" })
                        </div>
                    }
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "SearchForVolunteers", new { i, search = Request.QueryString["search"] }))
