@model WebApplication1.Models.Users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home"))
{
    <input type="hidden" name="returnUrl" value="@Request.QueryString["ReturnUrl"]">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card-body">

                            <h4 class="text-muted">Sign In to your account</h4>
                            <div class="input-group mb-3">
                                <span class="input-group-prepend"><i class="input-group-text fa fa-user"></i></span>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>

                            <div class="input-group mb-4">
                                <span class="input-group-prepend"><i class="input-group-text fa fa-lock"></i></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Login" class="btn btn-primary px-4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Create account for the platform for free</p>
                                <a>@Html.ActionLink("Register", "Register", "Home", null, new { @class = "btn btn-primary active mt-3" })</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}