@model WebApplication1.Models.ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SportEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SportEvent.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportEvent.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportEvent.ImagePath)
        </dt>

        <dd>
            <img src="@Model.SportEvent.ImagePath">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportEvent.Description)
        </dt>

        <dd>
            @Html.Raw(Model.SportEvent.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportEvent.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportEvent.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportEvent.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportEvent.Street)
        </dd>

    </dl>
</div>
<div class="review-list">
    @foreach (var item in Model.Comment)
    {
        <ul>
            <li>
                <div class="d-flex" style="background-color: gainsboro;">
                    <div class="right">
                        <h3>
                            User :@item.Username
                        </h3>
                        <div class="review-description">
                            <p>
                                @item.Comments
                            </p>
                        </div>
                        <span class="publish py-3 d-inline-block w-100">Published in @item.Date</span>
                    </div>
                </div>
                @if (User.Identity.Name == item.Username || User.IsInRole("Admin") || User.IsInRole("Coadmin"))
                {
                    using (Html.BeginForm("Delete", "Comments", new { id = @item.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("EventId", (object)Model.SportEvent.Id)
                        @Html.Hidden("EventName", (object)Model.SportEvent.GetType().Name)
                        <input type="submit" name="name" value="Delete" />

                    }
                }

            </li>
        </ul>
    }
</div>


@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Username", (object)User.Identity.Name)
    @Html.Hidden("EventId", (object)Model.SportEvent.Id)
    @Html.Hidden("EventName", (object)Model.SportEvent.GetType().Name)
    <textarea class="txtarea" name="comment"></textarea>
    <input type="submit" class="center-block" name="name" value="Post Comment" />

}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SportEvent.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
